.card {
  background-color: #fff;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  margin-bottom: 22px;
  text-decoration: none;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
h1 {
  color: #1375e6;
  font-size: 1.5rem;
  margin: 5px;
  font-weight: 600;
}
.occupation {
  color: #5ea2ef;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}
.age {
  color: #1375e6;
  font-size: 0.95rem;
  padding: 0px;
  margin: 0px;
}
